<p style="color: green"><%= notice %></p>

<%= image_tag 'loguito', id:'loguito'%>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
